<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="demoEntities" connectionString="metadata=res://*/Properties.demo.csdl|res://*/Properties.demo.ssdl|res://*/Properties.demo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DIRJKL4\SQLEXPRESS;initial catalog=demo;persist security info=True;user id=sa;password=123;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="demoEntities1" connectionString="metadata=res://*/Properties.Model1.csdl|res://*/Properties.Model1.ssdl|res://*/Properties.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DIRJKL4\SQLEXPRESS;initial catalog=demo;persist security info=True;user id=sa;password=123;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>